*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family:  sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.maincoffe{
  height: 100vh;
}
